<ion-slide-box on-slide-changed="slideHasChanged($index)" does-continue="true">
  <ion-slide>
    <div class="story story-1">
      <h1>Village Life</h1>
      <div class="story-content">
        <div class="card">
          <h2>Town Council</h2>
          <p>Organic oils are produced in remarkable diversity by plants, animals, and other organisms through natural metabolic processes. Lipid is the scientific term for the fatty acids, steroids and similar chemicals often found in the oils produced by living things, while oil refers to an overall mixture of chemicals. Organic oils may also contain chemicals other than lipids, including proteins, waxes (class of compounds with oil-like properties that are solid at common temperatures) and alkaloids.</p>
          <img src="img/motor-oil.jpg">
        </div>
        <div class="card">
          <h2>Types of Oil</h2>
          <p>Lipids can be classified by the way that they are made by an organism, their chemical structure and their limited solubility in water compared to oils. They have a high carbon and hydrogen content and are considerably lacking in oxygen compared to other organic compounds and minerals; they tend to be relatively nonpolar molecules, but may include both polar and nonpolar regions as in the case of phospholipids and steroids</p>
        </div>
      </div>
    </div>
  </ion-slide>
  <ion-slide>
    <div class="story story-2"><h1>Oil Struck</h1>
      <div class="story-content">
        <div class="card">
          <h2>Extraction Techniques</h2>
          <p>Organic oils are produced in remarkable diversity by plants, animals, and other organisms through natural metabolic processes. Lipid is the scientific term for the fatty acids, steroids and similar chemicals often found in the oils produced by living things, while oil refers to an overall mixture of chemicals. Organic oils may also contain chemicals other than lipids, including proteins, waxes (class of compounds with oil-like properties that are solid at common temperatures) and alkaloids.</p>
          <img src="img/olive-oil.jpg">
        </div>
        <div class="card">
          <h2>Off The Coast</h2>
          <p>Lipids can be classified by the way that they are made by an organism, their chemical structure and their limited solubility in water compared to oils. They have a high carbon and hydrogen content and are considerably lacking in oxygen compared to other organic compounds and minerals; they tend to be relatively nonpolar molecules, but may include both polar and nonpolar regions as in the case of phospholipids and steroids</p>
        </div>
        </div>
    </div>
  </ion-slide>
  <ion-slide>
    <div class="story story-3"><h1>State Affairs</h1>
      <div class="story-content">
        <div class="card">
          <h2>Voting</h2>
          <p>Organic oils are produced in remarkable diversity by plants, animals, and other organisms through natural metabolic processes. Lipid is the scientific term for the fatty acids, steroids and similar chemicals often found in the oils produced by living things, while oil refers to an overall mixture of chemicals. Organic oils may also contain chemicals other than lipids, including proteins, waxes (class of compounds with oil-like properties that are solid at common temperatures) and alkaloids.</p>
          <h2>Elections</h2>
          <p>Lipids can be classified by the way that they are made by an organism, their chemical structure and their limited solubility in water compared to oils. They have a high carbon and hydrogen content and are considerably lacking in oxygen compared to other organic compounds and minerals; they tend to be relatively nonpolar molecules, but may include both polar and nonpolar regions as in the case of phospholipids and steroids</p>
        </div>
      </div>
    </div>
  </ion-slide>
</ion-slide-box>
