<ion-slide-box id="slide-box" on-slide-changed="slideHasChanged($index)" does-continue="true">
  <ion-slide>
    <div class="story story-1">
      <h1>FACTS</h1>

      <table class="timeline">
        <tbody>
          <tr><td class="2005">2005<div class="pegs"></div></td></tr>
          <tr><td class="2006">2006<div class="pegs"></div></td></tr>
          <tr><td class="2007">2007<div class="pegs"></div></td></tr>
          <tr><td class="2008">2008<div class="pegs"></div></td></tr>
          <tr><td class="2009">2009<div class="pegs"></div></td></tr>
          <tr><td class="2010">2010<div class="pegs"></div></td></tr>
          <tr><td class="2011">2011<div class="pegs"></div></td></tr>
          <tr><td class="2012">2012<div class="pegs"></div></td></tr>
          <tr><td class="2013">2013<div class="pegs"></div></td></tr>
          <tr><td class="2014">2014<div class="pegs"></div></td></tr>
          <tr><td class="2015">2015<div class="pegs"></div></td></tr>
        </tbody>
      </table>

      <div class="story-content">
        <div class="card" data-tag="village" data-year="2010">
          <h2>Town with big dreams for oil</h2>
          <p>A huge off-shore oil field was discovered in Ghana in 2007 with an estimated 1.5 cubic feet of gas and 500m barrels of oil. Once fully developed Ghana is expected to produce 80.000 barrels per day.  For Bonyere, a coastal village in Ghana near the border with Ivory Coast, the discovery of oil will bring changes and has ignited the expectations of the village for a better life.  The inhabitants mainly rely on fishing and coconut production. The village has electricity but there is no clean drinking water.  Will oil and gas deliver what the government says it promises or will the people of Bonyere have unfulfilled dreams?</p>
          <img src="img/picture1.jpg">
        </div>
        <div class="card" data-tag="francis" data-year="2010">
          <h2>From Coconuts to welding</h2>
          <p>Francis is a coconut farmer living in Bonyere. The 27 year old wants to get a job with an oil or gas company. Francis` family has collected their savings for Francis to train as a welder. The gas and oil companies will need welders but the challenge for coastal villages like Francis is to get specialized training.</p>
          <img src="img/picture2.jpg">
        </div>
      </div>
    </div>
  </ion-slide>
  <ion-slide>
    <div class="story story-2">
      <h1>PROMISES</h1>


      <table class="timeline">
        <tbody>
          <tr><td class="2005">2005<div class="pegs"></div></td></tr>
          <tr><td class="2006">2006<div class="pegs"></div></td></tr>
          <tr><td class="2007">2007<div class="pegs"></div></td></tr>
          <tr><td class="2008">2008<div class="pegs"></div></td></tr>
          <tr><td class="2009">2009<div class="pegs"></div></td></tr>
          <tr><td class="2010">2010<div class="pegs"></div></td></tr>
          <tr><td class="2011">2011<div class="pegs"></div></td></tr>
          <tr><td class="2012">2012<div class="pegs"></div></td></tr>
          <tr><td class="2013">2013<div class="pegs"></div></td></tr>
          <tr><td class="2014">2014<div class="pegs"></div></td></tr>
          <tr><td class="2015">2015<div class="pegs"></div></td></tr>
        </tbody>
      </table>

      <div class="story-content">
        <div class="card" data-tag="village" data-year="2007">
          <h2>Living with the dirty side of gas production</h2>
          <p>Gas production produces pollutants. To avoid the environmental problems faced in the Nigerian delta, the gas project near Bonyere will install underwater pipelines to pump waste products to a nearby processing facility.</p>
          <img src="img/picture12.jpg">
        </div>
        <div class="card" data-tag="chinese" data-year="2010">
          <h2>Our village is changing</h2>
          <p>New buildings reflecting Chinese architecture have appeared in Bonyere. The Chinese investor Atuabo has constructed a huge arched entrance gate to its depot. The surrounding land for the construction has been leveled.</p>
          <img src="img/picture7.jpg">
        </div>
        </div>
    </div>
  </ion-slide>
  <ion-slide>
    <div class="story story-3">
      <h1>DREAMS</h1>

      <table class="timeline">
        <tbody>
          <tr><td class="2005">2005<div class="pegs"></div></td></tr>
          <tr><td class="2006">2006<div class="pegs"></div></td></tr>
          <tr><td class="2007">2007<div class="pegs"></div></td></tr>
          <tr><td class="2008">2008<div class="pegs"></div></td></tr>
          <tr><td class="2009">2009<div class="pegs"></div></td></tr>
          <tr><td class="2010">2010<div class="pegs"></div></td></tr>
          <tr><td class="2011">2011<div class="pegs"></div></td></tr>
          <tr><td class="2012">2012<div class="pegs"></div></td></tr>
          <tr><td class="2013">2013<div class="pegs"></div></td></tr>
          <tr><td class="2014">2014<div class="pegs"></div></td></tr>
          <tr><td class="2015">2015<div class="pegs"></div></td></tr>
        </tbody>
      </table>

      <div class="story-content">
        <div class="card" data-tag="village" data-year="2010">
          <h2>Igniting the dreams of the village</h2>
          <p>The chief of Bonyere called all villagers together and inform them about the developments of the gas

project plans. The villagers ask the chief about the development and many had high hopes for their 

future.</p>
          <img src="img/picture9.jpg">
      </div>
        <div class="card" data-tag="francis" data-year="2012">
          <h2>Big dreams for a big man</h2>
          <p>For Francis the gas project potentially means he can leave a life of farming coconuts behind him. He believes it’s a once in lifetime opportunity and dreams about a prosperous future. “I`ll be a big man.”, he says.</p>
          <img src="img/picture10.jpg">
        </div>
      </div>
    </div>
  </ion-slide>
</ion-slide-box>
